body {font-family: "Roboto", sans-serif; line-height: 1.5; letter-spacing: 0.02em; font-weight: 400; font-size: 16px; color: #434455; background-color: #FFFFFF; }
h1 {font-weight: 700; font-size: 56px; line-height: 1.07; color: #FFFFFF; letter-spacing: 0.02em; }
h2 {font-weight: 700; font-size: 36px; color: #2E2F42; line-height: 1.2; }
h3 {font-weight: 500; font-size: 20px; color: #2E2F42; line-height: 1.2; letter-spacing: 0.02em; }
img {display:block; }
h1, h2, h3, h4, h5, h6, p {margin: 0; }
ul, ol {margin: 0; padding-left: 0; }
/*Частина Header*/
.container.header-container {display: flex; justify-content: space-between; }
.navigation {display: flex; align-items: center; } 
.logo {font-family: "Raleway", sans-serif; line-height: 1.17; letter-spacing: 0.03em; font-size: 18px; font-weight: 700; text-decoration: none; color: #4D5AE5;; text-transform: uppercase;  padding-left: 156px; padding-top: 24px; padding-bottom: 24px; padding-right: 76px; }
.snap-logo-header {color: #2e2f42 }
li {list-style-type: none; }
.navigation-link {letter-spacing: 0.02em; line-height: 1.5; font-weight: 500; text-decoration: none; color: #2E2F42; }
.navigation li:not(:last-child) {padding-right:40px; }
.navigation-link:hover {color: #404BBF; }
.navigation-link:active {color: #404bbf; }
.navigation-link:focus {color: #404bbf; }
.contacts-info-list {display: flex; align-items:center; padding-right: 156px; padding-top: 24px; }
.contact {text-decoration: none; color: #434455; font-style: normal; line-height: 1.5; letter-spacing: 0.02em; padding-right: 40px; }
.contact:not(:last-child) {padding-right: 40px; }
.contact:hover {color:#404bbf; }
.contact:active {color:#404bbf; }
.contact:focus {color: #404bbf; }
.contacts-info {font-style: normal;}
/*main title*/
.container.container-main-title {width: 100%; height: 600px; }
.main-title {background-color: #2E2F42; text-align: center; line-height: 1.07; }
.title {padding-top: 188px;
    padding-left: 472px;
padding-bottom: 48px; 
padding-right: 472px; }
.button {border-radius: 4px;
    width: 169px;
    height: 56px; 
        background-color: #4D5AE5; color: #FFFFFF; cursor: pointer; font-family: "Roboto", sans-serif; font-weight: 500; font-size: 16px; line-height: 1.5; letter-spacing: 0.04em; }
.button:hover {background-color: #404BBF; }
.button:focus {background-color: #404BBF;}
/*main advantages*/
.advantages-main-title {display: none; }
.advantages-list {list-style-type: none; display: flex; gap: 24px; justify-content: center; padding: 156px 120px; }
.advantages-text {line-height: 1.5; letter-spacing: 0.02em; }
/*main team*/
.team {background-color: #F4F4FD; }
.team-title {text-align: center; line-height: 1.11; letter-spacing: 0.02em; text-transform: capitalize; padding-top: 120px; padding-left: 639px; padding-right: 639px; padding-bottom: 72px; }
.team-list {list-style-type: none; text-align: center; background-color: #FFFFFF; }
.team-list-container {display: flex; justify-content: center; gap: 24px; padding-left: 156px; padding-bottom: 120px; }
.team-list-title {line-height: 1,2; letter-spacing: 0.02em; }
.team-list-text {font-size: 16px; line-height: 1.5; letter-spacing: 0.02em; }
.team-name-container {display: flex; flex-direction: column; gap: 8px; justify-content: center; padding: 16px 32px; }
/*main portfolio*/
.portfolio-title {text-align: center; line-height: 1.11; letter-spacing: 0.02em; text-transform: capitalize; padding-top: 120px; padding-bottom: 72px; }
.portfolio-list-container {display: flex; flex-wrap: wrap; row-gap: 24px; column-gap: 48px; padding-left: 156px; padding-bottom: 120px; }
.portfolio-list {list-style-type: none;  background-color: #FFFFFF;}
.portfolio-list-title {line-height: 1.2; letter-spacing: 0.02em; padding-top: 32px; padding-left: 16px; }
.portfolio-list-text {line-height: 1.5; letter-spacing: 0.02em; padding-top: 8px;
    padding-left: 16px; padding-bottom: 32px; }
/*Footer*/
.container.footer {display: flex; flex-direction: column; gap: 16px; justify-content: flex-start; padding-left: 156px; padding-bottom: 100px; padding-top: 100px ;}
.footer {background-color: #2E2F42; }
.logo-footer {color: #4D5AE5; font-family: "Raleway", sans-serif; line-height: 1.17; letter-spacing: 0.03em; font-size: 18px; font-weight: 700; text-decoration: none; text-transform: uppercase; }
.logo-span {color: #F4F4FD;}
.footer-text {color: #F4F4FD; line-height: 1.5; letter-spacing: 0.02em; width: 264px; }